 <style type="text/css">
body
    {
     margin:0px;          /* ページ全体のmargin */
     padding:0px;         /* ページ全体のpadding */
     text-align:center;   /* 下記のautoに未対応用のセンタリング */
    }

#site-box
    {
	width: 600px;
	height: 250px;
    margin: -150px 0px 0px -300px;
	left: 50%;
	top: 50%;
	position: absolute;
    }
 </style>
 <div id=site-box>
<div class="alert alert-error fade in "><a class="close" data-dismiss="alert">×</a> <br>エラー!<br><br>1.何も入力されていない<br>2.日本語が入力されている<br></div>
<br><br>
<p><a href="#" onClick="history.back(); return false;">前のページにもどる</a></p>
</div>
