body {
	padding: 10px;
	margin: 0;
}
#message1 {
	display: inline-block;
	width: 6em;
	text-align: center;
	background: green;
	visibility: hidden;
	color: #FFFFFF;
}
#message2 {
	display: inline-block;
	width: 6em;
	text-align: center;
	background: red;
	visibility: hidden;
	color: #FFFFFF;
}
#grid-content {
	margin: 0 60px;   
	overflow: hidden;
	border: 0.5px solid #eb6100;
}
#target {
    width: 370px;
    height: 325px;
    display: inline-block;
    vertical-align: bottom;
}